@model DataAccessLayer.Entities.Posts;

@{

    var base_path = Context.Request.PathBase;
}

@ViewBag.Title = Model.Title;
@ViewBag.Description = Model.Descriptions;
@ViewBag.keyBoard
    = $"{Model.Tags?.Replace(",", "")} {Model.Category}";


@*    comment it *@



<div class="container">
    <table>
        <tr>
            <td> @Model.Name
        </tr>

        <tr>
            <td> @Model.Address
        </tr>

        <tr>
            <td> @Model.Image
        </tr>
    </table>
</div>


<div>
    @{
        await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = 0 });
    }
</div>

@*<div class="container">
    <div class="Post no-shadow ">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Model.Image" />
            <span class="title">
                @Model.Image<span>
        }
    </div>
</div>

<div class="post-body">
    @Html.Raw(Model.Title);
</div>
<div class="comment-section">
    @{
        await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = 0 });
    }

    @foreach (var c in Model.MainComments)
    {
        <p> @c.Message  ----  @c.Created</p>

        <div style="margin-left:20px;">
            <h4> Sub Comment</h4>

            @{
                await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = 0 });
            }

            @foreach (var sc in Model.MainComments)
            {
                <p> @sc.Message  ----  @sc.Created</p>
            }
        </div>

    }
</div>*@