@model Places

@{

    var base_path = Context.Request.PathBase;
}

@*@ViewBag.Title = Model.Title;*@
@*@ViewBag.Description = Model.Descriptions;
@ViewBag.keyBoard
    = $"{Model.Tags?.Replace(",", "")} {Model.Category}";*@


@*    comment it *@



<div class="container">
    <table>
        <tr>
            <td> @Model.Address
        </tr>

        <tr>
            <td><img src="@Url.Content(Model.Image)" asp-append-version="true" width="100px;" height="100px" /></td>
        </tr>
    </table>
</div>


@*<div class="container">
    @{
        await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = 0 });
    }
</div>*@

<div class="container">

    <div class="post no-shadow">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            <span >@Model.Address</span>
        }
    </div>
    <div class="post-body">
        @* // @Html.Raw(Model.MainComments)*@
    </div>
    <div class="comment-section">
        @{
            await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = 0 });
        }
        @if (User.IsInRole("Admin"))
        {
            @foreach (var c in Model.MainComments)
            {
                <p> @c.Message  ----  @c.Created</p>

                <div style="margin-left:20px;">
                    <h4> Sub Comment</h4>

                    @{
                        await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = c.Id });
                    }

                    @foreach (var sc in c.SubComments)
                    {
                        <p> @sc.Message  ----  @sc.Created</p>
                    }
                </div>

            }
            
        }
    </div>
</div>

































            @*@model DataAccessLayer.Entities.ViewModel.



<table>
  @Model.
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>City Id</td>
        <td>@Model.CityId</td>
    </tr>

    <tr>
        <td>Image</td>
        <td><img src="@Url.Content(Model.Image)" asp-append-version="true" width="100px;" height="100px" /></td>
    </tr>


</table>

<div class="post-body">
    @Html.Raw(Model.
</div>
<div class="comment-section">
    @{
        await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = 0 });
    }

    @foreach (var c in Model.MainComments)
    {
        <p> @c.Message  ----  @c.Created</p>

        <div style="margin-left:20px;">
            <h4> Sub Comment</h4>

            @{
                await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = 0 });
            }

            @foreach (var sc in Model.MainComments)
            {
                <p> @sc.Message  ----  @sc.Created</p>
            }
        </div>

    }
</div>*@