@model DataAccessLayer.Entities.Reviews;

@{
    ViewData["Title"] = "Details";
}


<table>
 <tr>
     <td> Book Id:
</td>
<td>
    @Model.BookingId
</td>
</tr>

    <tr>
        <td>
            Rating:
        </td>
        <td>
            @Model.Rating
        </td>
    </tr>
    <tr>
        <td>
            Body:
        </td>
        <td>
            @Model.ReviewBody
        </td>
    </tr>

    <tr>
        <td>
            Body:
        </td>
        <td>
            @Model.Order
        </td>
    </tr>

    <tr>
        <td>
            Body:
        </td>
        <td>
            @Model.RegisterId
        </td>
    </tr>

    <tr>
        <td>
            Body:
        </td>
        <td>
            @Model.ParentId
        </td>
    </tr>
</table>