


@model List<DataAccessLayer.Entities.Reviews>;

@{
    ViewData["Title"] = "List Of Data";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table">
            <tr>
                <td>@Html.DisplayNameFor(Model =>Model.First().BookingId) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().Rating)</td>
                 <td>@Html.DisplayNameFor(Model =>Model.First().ReviewBody)</td>
                <td>@Html.DisplayNameFor(Model =>Model.First().Order)</td>
                <td>@Html.DisplayNameFor(Model =>Model.First().RegisterId)</td>
                <td>@Html.DisplayNameFor(Model =>Model.First().ParentId)</td>
                <td>Actions</td>
            </tr>

            @foreach (var abc in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(Model => abc.BookingId)</td>
                    <td> @Html.DisplayFor(Model => abc.Rating)</td>
                     <td> @Html.DisplayFor(Model => abc.ReviewBody)</td>
                    <td> @Html.DisplayFor(Model => abc.Order)</td>
                    <td> @Html.DisplayFor(Model => abc.RegisterId)</td>
                    <td> @Html.DisplayFor(Model => abc.ParentId)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@abc.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@abc.Id">Delete</a>
                        <a asp-action="Details" asp-route-id="@abc.Id">Details</a>
                    </td>
                </tr>
            }


        </table>
    </div>
</div>