@*@model List<>

@{
    ViewData["Title"] = "List Of Data";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table">
            <tr>
                <td>@Html.DisplayNameFor(Model =>Model.First().) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().CountryId)</td>
                <td>Actions</td>
            </tr>

            @foreach (var abc in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(Model => abc.Name)</td>
                    <td> @Html.DisplayFor(Model => abc.CountryId)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@abc.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@abc.Id">Delete</a>
                        <a asp-action="Details" asp-route-id="@abc.Id">Details</a>
                    </td>
                </tr>
            }


        </table>
    </div>
</div>*@