@model List<Booked>

@{
    ViewData["Title"] = "List Of Data";
}
<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>
<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table">
            <tr>
                <td>@Html.DisplayNameFor(Model =>Model.First().userID) </td>
@*                <td>@Html.DisplayNameFor(Model =>Model.First().Image) </td>
*@                <td>@Html.DisplayNameFor(Model =>Model.First().StartDate)</td>
                <td>@Html.DisplayNameFor(Model =>Model.First().EndDate) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().PricePerNight) </td>
                <td>@Html.DisplayNameFor(Model => Model.First().NumberOfNight)</td>
                <td>Actions</td>
            </tr>

            @foreach (var abc in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(Model => abc.userID)</td>
@*                    <td> @Html.DisplayFor(Model => abc.Image)</td>
*@                    <td> @Html.DisplayFor(Model => abc.StartDate)</td>
                    <td> @Html.DisplayFor(Model => abc.EndDate)</td>
                    <td> @Html.DisplayFor(Model => abc.PricePerNight)</td>
                    <td> @Html.DisplayFor(Model => abc.NumberOfNight)</td>
                
                    <td> <a asp-action="Edit" asp-route-id="@abc.Id">Edit</a></td>
                    <td> <a asp-action="Delete" asp-route-id="@abc.Id">Delete</a></td>
                    <td><a asp-action="Details" asp-route-id="@abc.Id">Details</a></td>
                </tr>
            }


        </table>
    </div>
</div>